<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] %c - %m%n"/>
            <ThresholdFilter level="INFO"/>
        </Console>
        <File name="AppFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] %c - %m%n"/>
            <ThresholdFilter level="INFO"/>
        </File>
        <File name="MobFile" fileName="logs/MOB.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] %c - %m%n"/>
            <RegexFilter regex=".*MOB_MOVE.*|.*MOB_CTRL_ACK.*" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="off"/>
        <Logger name="org.hibernate.SQL" level="off"/>
        <Logger name="org.hibernate.type" level="off"/>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="MobFile"/>
        </Root>
    </Loggers>
</Configuration>
